/*
/.**

!/.bashrc
!/.vimrc
!/.gitignore
!/.inputrc
!/README.md

!/bin
!/bin/**

!/.vim
!/.vim/colors.vim
!/.vim/handmade_commands
!/.vim/handmade_commands/**

/.vim/handmade_commands/reminder/**
!/.vim/handmade_commands/reminder/.gitkeep

!/.config/nvim/init.lua
!/.config/nvim/colors/**
!/.config/nvim/lua/**
!/.config/nvim/settings/**
