*

!.gitignore
!README.md

#=========================================================#
!home/
home/*
#=========================================================#
!home/.bashrc
!home/.inputrc
!home/.tmux.conf
!home/.vimrc

#=========================================================#
!home/.vim/
home/.vim/*
#=========================================================#
!home/.vim/colors.vim


#=========================================================#
!home/.vim/pack/plugins/start/
home/.vim/pack/plugins/start/*
#=========================================================#
!home/.vim/pack/plugins/start/**


#=========================================================#
!bin/
bin/*
#=========================================================#
!bin/install.sh

#=========================================================#
!bootmgr/
bootmgr/*
#=========================================================#
!bootmgr/loader.conf
!bootmgr/arch.conf.tmp

#=========================================================#
!services/
services/*
#=========================================================#
!services/pw-silence.service

